body {
        background-color: #D7D7D7;
}
.arialtext {
        font-family: Arial, Helvetica, sans-serif;
}
.Rarialtext {
        color: #800040;
}
.arialtext .Rarialtext {
        color: #F00;
}
a:link {
        color: #004080;
        text-decoration: none;
}
a:visited {
        text-decoration: none;
        color: #004080;
}
a:hover {
        text-decoration: underline;
        color: #004080;
}
a:active {
        text-decoration: none;
        color: #004080;
}
.arialtext .Rarialtext {
        color: #004080;
}
body,td,th {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}
.style1 {color: #000000}
.style21 {
        color: #000000;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
}
.style23 {font-size: 14px}
.style24 {font-size: 12px}
.style25 {color: #000000; font-size: 12px; }
.style26 {
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
}
.style28 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.style29 {font-family: Arial, Helvetica, sans-serif}
.style31 {color: #222222; font-family: Arial, Helvetica, sans-serif; }
.style36 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #000000;}
.style50 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #222222;}

